@model Agro_Chemical_Management.Models.Sale

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sale</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaleDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaleDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SaleItems, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="SaleItemsPartial" class="col-md-10">
                @Html.Partial("~/Views/Sales/CreateSaleItem.cshtml")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalSaleValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalSaleValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalSaleValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaleType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SaleType)
                    @Html.ValidationMessageFor(model => model.SaleType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Operator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Operator, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Operator, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $("#SaleItemsPartial table.table tr:last").find("#Quantity, #Price, #TaxAmount, #Total").val("0");
        $('#Total, #TotalSaleValue').prop('readonly', true);
        $(".AddPurchaseItem").click(function () {
            var url = "@Url.Action("CreateSaleItem", "Sales")";
            $.ajax({
                url: url,
                type: "POST",
                data: $("#SaleItemsPartial").find("select, textarea, input").serialize(),
                success: function (result) {
                    //append the data to last but one row
                    var product = $("#ProductCode option:selected").text();
                    var quantity = $("#Quantity").val();
                    var price = $("#Price").val();
                    var taxAmount = $("#TaxAmount").val();
                    var totalAmount = $("#Total").val();
                    var newRow = $("<tr><td>" + product + "</td><td>" + quantity + "</td><td>" + price + "</td><td>" + taxAmount + "</td><td>" + totalAmount + "</td><td></td></tr>");
                    $("#SaleItemsPartial table.table tr:last").before(newRow);
                    $("#SaleItemsPartial table.table tr:last").find("#Quantity, #Price, #TaxAmount, #Total").val("0");
                    var totalSaleValue = ($("#TotalSaleValue").val() * 1) + (totalAmount * 1);
                    $("#TotalSaleValue").val(totalSaleValue);
                }
            });
        });
        $("#Quantity, #Price,  #TaxAmount").change(function () {
            var totalAalue = calculateTotal();
            if (totalAalue) {
                $("#Total").val(totalAalue);
            }
        });
        function calculateTotal() {
            var quantity = $("#Quantity").val();
            var price = $("#Price").val();
            var taxamount = $("#TaxAmount").val();
            return ((quantity * price) + (taxamount * 1));

        }
</script>
}
